.SeasonOverview {
    width: calc(100% - 515px);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba(99, 6, 52, 0.55);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-row-gap: 120px;
    .SeasonDetails {
        margin-left: 11%;
        p {
            font-size: 1.4375rem;
            width: 85%;
            max-width: 500px;
        }
        h1 {
            font-size: 4.625rem;
            font-weight: bold;
            @media screen and (max-width: 1130px) {
                font-size: 3.5rem;
            }
        }
    }
    .EpisodesCarousel {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-left: 11%;
        justify-self: flex-end;
        height: 298px;
        .EpisodesCarousel-Inner {
            display: flex;
            grid-column-gap: 28px;
            transition: all 250ms linear;
            .CarouselSlide {
                width: 200px;
                position: relative;
                cursor: pointer;
                img {
                    width: inherit;
                    height: 135px;
                    object-fit: cover;
                }
                h4 {
                    margin: 20px 0 10px 0;
                    font-size: 0.9375rem;
                }
                p {
                    font-size: 0.8125rem;
                    height: 45px;
                    overflow: hidden;
                }
                .CarouselSlide-EpNum {
                    color: #000;
                    background-color: #fff;
                    width: 30px;
                    height: 30px;
                    font-size: 1rem;
                    font-weight: bold;
                    line-height: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        .EpisodesCarousel-Btns {
            display: flex;
            justify-content: flex-end;
            margin: 20px 20px 0 0;
            grid-column-gap: 35px;
            .EpisodesCarousel-Btn {
                background: none;
                border: none;
                padding: 0;
                color: white;
                font-size: 1.5rem;
                cursor: pointer;
                &:disabled {
                    opacity: 0.3;
                    cursor: not-allowed;
                }
            }
        }
    }
    @media screen and (max-width: 1024px) {
        width: 100%;
        grid-row-gap: 50px;
        margin-bottom: 250px;
        .SeasonDetails {
            transform: translateY(225px);
            margin-left: 5%;
            p {
                font-size: 1rem;
                max-width: 400px;
            }
            h1 {
                margin: 5px 0 10px;
            }
        }
        .EpisodesCarousel {
            transform: translateY(225px);
            margin-left: 5%;
            color: #000;
            .EpisodesCarousel-Btns {
                margin: 25px 5% 0 0;
                .EpisodesCarousel-Btn {
                    color: #000;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        grid-row-gap: 30px;
        .SeasonDetails {
            transform: none;
            margin-top: 95px;
            p {
                font-size: 0.875rem;
                max-width: 270px;
            }
            h1 {
                font-size: 2rem;
            }
        }
        .EpisodesCarousel {
            height: unset;
            transform: none;
            .EpisodesCarousel-Inner {
                .CarouselSlide {
                    h4 {
                        display: none;
                    }
                    p {
                        display: none;
                    }
                }
            }
            .EpisodesCarousel-Btns {
                margin: 10px 5% 20px 0;
                .EpisodesCarousel-Btn {
                    color: #fff;
                }
            }
        }
    }
}